div {
    background-color: aqua;
    border: solid red;
    padding: 40px;
    text-size-adjust: 40px;
    color: bisque;
}
.one {
margin: 40px;
text-size-adjust: 40px;
background-color: rgb(176, 105, 18);
text-emphasis-color: black;

}