h1 {
    color: rgb(45, 12, 144);
    text-align: center;
    font-size: 50px;
}

body {
    background-color: rgba(242, 246, 237, 0.792);
    border: solid black 10px;
}

.picone {
    text-align: center;
}

.one {
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.two {
    text-align: center;
    font-size: 25px;
}

.three {
    text-align: center;
    font-size: 25px;
}

h2 {
    font-size: 40px;
}

.four {
    font-size: 18px;
    font-style: italic;
}